extends ./layout
block content
	#timeline(class='body-center')
		#newPost(data-user_id=sessionId)
			#closeIcon
				img(src='/images/cancel.png' height='20px' width='20px')
			#plusIcon 
				img(src='/images/add.png' height='85px' width='85px')
			#plusText 음악 추가
			#searchVideo
				form
					p
						input(id='musicKeword' type='text' name='keword' autocomplete='off' placeholder='음악을 검색하세요.')
			#preview
			#contents
				#video
				#description
					form
						p
							textarea(id='videoDescription' name='description' placeholder='설명 쓰기')
					#buttonGroup
						#backButton(class='hvr-fade') 이전
						#uploadButton(class='hvr-fade') 공유하기

		#posts
			each PostA in FollowedPosts
				div(class='post' data-WriterId=PostA.Writer)
					div(class='post-header')
						div(class='profileImage')
						div(class='profileId')=PostA.AuthId
					div(class='post-video')
						iframe(
							width='100%' 
							height='100%' 
							src="https://www.youtube.com/embed/"+PostA.VideoId+"?rel=0" 
							frameborder="0" 
							allowfullscreen
						)
	//	
		article
			h2=title
			=description
		div
			a(href='/topic/new') new
