extends ./layout
block content
	#userPage(class='body-center' data-id=authId)
		#userTitle
			#userImg
			#userProfile
				#user1
					#userId= authId
					#profileButton
						if sessionId == authId
							a(href='/')
								button(id='editProfile') 프로필 편집
						else if follower
							a(href='/unfollow?followedId='+authId)
								button(id='unfollowButton') 팔로잉
						else
							a(href='/follow?followedId='+authId)
								button(id='followButton') 팔로우
					#more
						img(src='/images/moreButton.png' height='25px' width='25px')

				#user2
					#postNumber(class='user-2') 게시물 <b>#{posts.length}</b>개
					#FollowerNumber(class='user-2')
					#FollowNumber(class='user-2')
				#user3= user.username
		#userPost
			each post in posts
				div(class='post' id='post_'+post.PostId )
					a(href='/'+authId+'?postId='+post.PostId)
						img(src='http://img.youtube.com/vi/'+post.VideoId+'/0.jpg')
		
		#logoutModal(class='modal')
			#logoutModalContent(class='modal-content')
				a(href='/Logout')
					#logoutBUtton(class='lmButton hvr-fade') 로그아웃
				#cancleButton(class='lmButton hvr-fade') 취소

		if sPost
			#postModal(class='modal')
				div(class='modal-content')
					#video(data-id= authId)
						iframe(
								width="560" 
								height="315" 
								src="https://www.youtube.com/embed/"+sPost.VideoId+"?rel=0&autoplay=1" 
								frameborder="0" 
								allowfullscreen
							)

					#description
						#profile
							#profileImage
							#profileId=authId
						#details 좋아요
						#videoDescription <b>#{authId}</b>  #{sPost.Description}
						#comment
						#likes
		
